*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body{
    background: linear-gradient(to right, #ff7eb3, #ff758c, #ff7eb3 );
    color: white;
    text-align: center;
    padding: 20px;
}

header{
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

p{
    font-size: 1.2em;
    margin: 10px 0;
}


button{
        background-color: #ff4785;
        color: white;
        padding: 10px 20px;
        font-size: 1.2em;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.3s;
}

button:hover{
    background-color: #ff2858;
    transform: scale(1.1);
}

footer{
    margin-top: 20px;
    font-size: 0.9em;

}